<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/Users/zekisarak/Desktop/StartApp/StartApp/static/css/index.css">
</head>
<body>
    <header>
        <div class="'navbar">
            <h1>StartApp</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Hackathons</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">

        <aside class="sidebar">
            <ul>
                <li><a href="#">Home</a></li>
                    <li><a href="#">Hackathons</a></li>
                    <li><a href="#">Profile</a></li>
            </ul>
        </aside>

        <main class="main-content">
            <h2>Feed</h2>
            <div class="feed">

            </div>
        </main>
    </div>
</body>
</html>